<a href="https://colab.research.google.com/github/fouad89/30DaysofML-Kaggle/blob/master/03_firstNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# reading data from google drive 
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:

# library imports
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import pandas_profiling as pp
import os

# preprocessing\
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

# modeling
import tensorflow as tf
from keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from keras.callbacks import ModelCheckpoint


# evaluation
from sklearn.metrics import mean_absolute_error

In [3]:
COMPETETION_PATH = "/content/drive/MyDrive/30-days-of-ml-competition1"
TRAIN_DATA_PATH = "/content/drive/MyDrive/30-days-of-ml-competition1/data/train.csv"
TEST_DATA_PATH = "/content/drive/MyDrive/30-days-of-ml-competition1/data/test.csv"
OUTPUT_PATH = "/content/drive/MyDrive/30-days-of-ml-competition1/output"

In [4]:
def read_organise_data(train=TRAIN_DATA_PATH):
    """read the data from a path and splitting to features and target

    Args:
        train (path, optional): The path of training data file to. Defaults to TRAIN_DATA_PATH.

    Returns:
        X, y: X for features and y for target
    """
    full_df = pd.read_csv(train, index_col="id")
    print(f"Shape of Dataset: {full_df.shape}")
    return full_df

df= read_organise_data()

Shape of Dataset: (300000, 25)

In [10]:
df.corr()[df.corr()>=0.3][df.corr()!=1]

           cont0  cont1  cont2  cont3  ...    cont11    cont12  cont13  target
cont0        NaN    NaN    NaN    NaN  ...       NaN  0.417872     NaN     NaN
cont1        NaN    NaN    NaN    NaN  ...       NaN       NaN     NaN     NaN
cont2        NaN    NaN    NaN    NaN  ...       NaN       NaN     NaN     NaN
cont3        NaN    NaN    NaN    NaN  ...       NaN       NaN     NaN     NaN
cont4        NaN    NaN    NaN    NaN  ...       NaN       NaN     NaN     NaN
cont5   0.392456    NaN    NaN    NaN  ...  0.308249  0.473964     NaN     NaN
cont6        NaN    NaN    NaN    NaN  ...       NaN       NaN     NaN     NaN
cont7        NaN    NaN    NaN    NaN  ...       NaN  0.363091     NaN     NaN
cont8   0.388510    NaN    NaN    NaN  ...       NaN  0.434196     NaN     NaN
cont9   0.394969    NaN    NaN    NaN  ...  0.327866  0.437776     NaN     NaN
cont10  0.363413    NaN    NaN    NaN  ...       NaN  0.407609     NaN     NaN
cont11       NaN    NaN    NaN    NaN  ...       NaN  0.363579     NaN     NaN
cont12  0.417872    NaN    NaN    NaN  ...  0.363579       NaN     NaN     NaN
cont13       NaN    NaN    NaN    NaN  ...       NaN       NaN     NaN     NaN
target       NaN    NaN    NaN    NaN  ...       NaN       NaN     NaN     NaN

[15 rows x 15 columns]

In [11]:
df.describe()

               cont0          cont1  ...         cont13         target
count  300000.000000  300000.000000  ...  300000.000000  300000.000000
mean        0.527335       0.460926  ...       0.508273       8.241979
std         0.230599       0.214003  ...       0.222950       0.746555
min        -0.118039      -0.069309  ...       0.151050       0.140329
25%         0.405965       0.310494  ...       0.300669       7.742071
50%         0.497053       0.427903  ...       0.472400       8.191373
75%         0.668060       0.615113  ...       0.758447       8.728634
max         1.058443       0.887253  ...       0.905992      10.411992

[8 rows x 15 columns]

In [12]:
# dropping cont12
dropped_cols = ['cont5','cont12']
df.drop(dropped_cols, axis=1, inplace=True)

In [13]:
y = df.target.copy()
X = df.drop('target', axis=1).copy()

In [14]:
def create_num_cols(df=X):
    return df.select_dtypes(exclude="object").columns.to_list()
def create_cat_cols(df=X):
    return [cname for cname in df.columns if (df[cname].dtypes=="object")]

num_cnames = create_num_cols(X)
cat_cnames = create_cat_cols(X)
all_cnames = num_cnames + cat_cnames

print(f"There are {len(num_cnames)} Numerical columns")
print(f"There are {len(cat_cnames)} Categorical Columns")
print(f"In total, there are {len(all_cnames)} columns")

There are 12 Numerical columns
There are 10 Categorical Columns
In total, there are 22 columns

In [15]:
# categorical columns transformation
ordinal_encode = OrdinalEncoder()
X[cat_cnames] = ordinal_encode.fit_transform(X[cat_cnames])
# scaling numerical columns
# scaler= StandardScaler()
# X[num_cnames] = scaler.fit_transform(X[num_cnames])
# X

In [33]:
# # hot encoding categorical columns
# def oneHotEncode(df=X, colNames=cat_cnames):
#     for cname in cat_cnames:
#         dummies = pd.get_dummies(df[cname], prefix=cname)
#         df = pd.concat([df, dummies], axis=1)
#         # drop the encoded col
#         df.drop([cname], axis=1, inplace=True)
#     return df

# # applying encoding
# X = oneHotEncode()

In [16]:
print(f"Shape of data after encoding: {X.shape}")

Shape of data after encoding: (300000, 22)

In [74]:
X

        cat0  cat1  cat2  cat3  ...     cont9    cont10    cont11    cont13
id                              ...
1        1.0   1.0   1.0   2.0  ...  0.267559  0.237281  0.377873  0.869850
2        1.0   1.0   0.0   0.0  ...  0.341439  0.906013  0.921701  0.465083
3        0.0   0.0   0.0   2.0  ...  0.843531  0.748809  0.620126  0.763846
4        1.0   1.0   0.0   2.0  ...  0.574844  0.346010  0.714610  0.280682
6        0.0   0.0   0.0   2.0  ...  0.956692  1.000773  0.776742  0.250823
...      ...   ...   ...   ...  ...       ...       ...       ...       ...
499993   1.0   1.0   0.0   0.0  ...  0.853726  0.422541  1.063463  0.506404
499996   0.0   1.0   0.0   2.0  ...  0.433525  0.301015  0.268447  0.823611
499997   1.0   1.0   0.0   2.0  ...  0.551825  0.661007  0.629606  0.245732
499998   0.0   1.0   0.0   2.0  ...  0.351036  0.288768  0.611169  0.332030
499999   0.0   0.0   0.0   2.0  ...  0.776019  0.734707  0.484392  0.689317

[300000 rows x 23 columns]

In [35]:
# splitting 
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=1)

In [17]:
## Modeling
model = Sequential()
model.add(Dense(1024, activation='relu', input_dim=X.shape[1]))
model.add(Dropout(0.2))
model.add(Dense(512, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(512, activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(512, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(512, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(128, activation='relu'))





# output layer
model.add(Dense(1, activation='relu'))
# Compile the network :
model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 1024)              23552
_________________________________________________________________
dropout (Dropout)            (None, 1024)              0
_________________________________________________________________
dense_1 (Dense)              (None, 512)               524800
_________________________________________________________________
dropout_1 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_2 (Dense)              (None, 512)               262656
_________________________________________________________________
dropout_2 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_3 (Dense)              (None, 512)               262656
_________________________________________________________________
dropout_3 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_4 (Dense)              (None, 512)               262656
_________________________________________________________________
dropout_4 (Dropout)          (None, 512)               0
_________________________________________________________________
dense_5 (Dense)              (None, 256)               131328
_________________________________________________________________
dropout_5 (Dropout)          (None, 256)               0
_________________________________________________________________
dense_6 (Dense)              (None, 128)               32896
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 129
=================================================================
Total params: 1,500,673
Trainable params: 1,500,673
Non-trainable params: 0
_________________________________________________________________

In [18]:
# adding callback
checkpoint_name = os.path.join(OUTPUT_PATH,"weights",'Weights-{epoch:03d}--{val_loss:.5f}.hdf5') 
checkpoint = ModelCheckpoint(checkpoint_name, monitor='val_loss', verbose = 1, save_best_only = True, mode ='auto')
callbacks_list = [checkpoint]

In [19]:
#batch_size = int(X_train.shape[0] / 50)
model.fit(X, y, epochs=25,batch_size=64, validation_split=0.2,callbacks=callbacks_list)

Epoch 1/25
3750/3750 [==============================] - 124s 33ms/step - loss: 0.7036 - mean_absolute_error: 0.7036 - val_loss: 0.5910 - val_mean_absolute_error: 0.5910

Epoch 00001: val_loss improved from inf to 0.59097, saving model to /content/drive/MyDrive/30-days-of-ml-competition1/output/weights/Weights-001--0.59097.hdf5
Epoch 2/25
3750/3750 [==============================] - 122s 33ms/step - loss: 0.6001 - mean_absolute_error: 0.6001 - val_loss: 0.5893 - val_mean_absolute_error: 0.5893

Epoch 00002: val_loss improved from 0.59097 to 0.58926, saving model to /content/drive/MyDrive/30-days-of-ml-competition1/output/weights/Weights-002--0.58926.hdf5
Epoch 3/25
3750/3750 [==============================] - 121s 32ms/step - loss: 0.5910 - mean_absolute_error: 0.5910 - val_loss: 0.5888 - val_mean_absolute_error: 0.5888

Epoch 00003: val_loss improved from 0.58926 to 0.58883, saving model to /content/drive/MyDrive/30-days-of-ml-competition1/output/weights/Weights-003--0.58883.hdf5
Epoch 4/25
3750/3750 [==============================] - 121s 32ms/step - loss: 0.5910 - mean_absolute_error: 0.5910 - val_loss: 0.5927 - val_mean_absolute_error: 0.5927

Epoch 00004: val_loss did not improve from 0.58883
Epoch 5/25
3750/3750 [==============================] - 120s 32ms/step - loss: 0.5902 - mean_absolute_error: 0.5902 - val_loss: 0.5883 - val_mean_absolute_error: 0.5883

Epoch 00005: val_loss improved from 0.58883 to 0.58834, saving model to /content/drive/MyDrive/30-days-of-ml-competition1/output/weights/Weights-005--0.58834.hdf5
Epoch 6/25
3750/3750 [==============================] - 120s 32ms/step - loss: 0.5904 - mean_absolute_error: 0.5904 - val_loss: 0.5903 - val_mean_absolute_error: 0.5903

Epoch 00006: val_loss did not improve from 0.58834
Epoch 7/25
3750/3750 [==============================] - 124s 33ms/step - loss: 0.5906 - mean_absolute_error: 0.5906 - val_loss: 0.5882 - val_mean_absolute_error: 0.5882

Epoch 00007: val_loss improved from 0.58834 to 0.58825, saving model to /content/drive/MyDrive/30-days-of-ml-competition1/output/weights/Weights-007--0.58825.hdf5
Epoch 8/25
3750/3750 [==============================] - 119s 32ms/step - loss: 0.5904 - mean_absolute_error: 0.5904 - val_loss: 0.5899 - val_mean_absolute_error: 0.5899

Epoch 00008: val_loss did not improve from 0.58825
Epoch 9/25
3750/3750 [==============================] - 120s 32ms/step - loss: 0.5904 - mean_absolute_error: 0.5904 - val_loss: 0.5873 - val_mean_absolute_error: 0.5873

Epoch 00009: val_loss improved from 0.58825 to 0.58732, saving model to /content/drive/MyDrive/30-days-of-ml-competition1/output/weights/Weights-009--0.58732.hdf5
Epoch 10/25
3750/3750 [==============================] - 119s 32ms/step - loss: 0.5906 - mean_absolute_error: 0.5906 - val_loss: 0.5890 - val_mean_absolute_error: 0.5890

Epoch 00010: val_loss did not improve from 0.58732
Epoch 11/25
3750/3750 [==============================] - 119s 32ms/step - loss: 0.5907 - mean_absolute_error: 0.5907 - val_loss: 0.5910 - val_mean_absolute_error: 0.5910

Epoch 00011: val_loss did not improve from 0.58732
Epoch 12/25
3750/3750 [==============================] - 120s 32ms/step - loss: 0.5918 - mean_absolute_error: 0.5918 - val_loss: 0.5903 - val_mean_absolute_error: 0.5903

Epoch 00012: val_loss did not improve from 0.58732
Epoch 13/25
3750/3750 [==============================] - 121s 32ms/step - loss: 0.5920 - mean_absolute_error: 0.5920 - val_loss: 0.5918 - val_mean_absolute_error: 0.5918

Epoch 00013: val_loss did not improve from 0.58732
Epoch 14/25
3750/3750 [==============================] - 121s 32ms/step - loss: 0.5919 - mean_absolute_error: 0.5919 - val_loss: 0.5904 - val_mean_absolute_error: 0.5904

Epoch 00014: val_loss did not improve from 0.58732
Epoch 15/25
3750/3750 [==============================] - 119s 32ms/step - loss: 0.5921 - mean_absolute_error: 0.5921 - val_loss: 0.5922 - val_mean_absolute_error: 0.5922

Epoch 00015: val_loss did not improve from 0.58732
Epoch 16/25
3750/3750 [==============================] - 120s 32ms/step - loss: 0.5919 - mean_absolute_error: 0.5919 - val_loss: 0.5924 - val_mean_absolute_error: 0.5924

Epoch 00016: val_loss did not improve from 0.58732
Epoch 17/25
3750/3750 [==============================] - 121s 32ms/step - loss: 0.5921 - mean_absolute_error: 0.5921 - val_loss: 0.5923 - val_mean_absolute_error: 0.5923

Epoch 00017: val_loss did not improve from 0.58732
Epoch 18/25
3750/3750 [==============================] - 121s 32ms/step - loss: 0.5921 - mean_absolute_error: 0.5921 - val_loss: 0.5917 - val_mean_absolute_error: 0.5917

Epoch 00018: val_loss did not improve from 0.58732
Epoch 19/25
3750/3750 [==============================] - 120s 32ms/step - loss: 0.5919 - mean_absolute_error: 0.5919 - val_loss: 0.5908 - val_mean_absolute_error: 0.5908

Epoch 00019: val_loss did not improve from 0.58732
Epoch 20/25
3750/3750 [==============================] - 121s 32ms/step - loss: 0.5920 - mean_absolute_error: 0.5920 - val_loss: 0.5918 - val_mean_absolute_error: 0.5918

Epoch 00020: val_loss did not improve from 0.58732
Epoch 21/25
3750/3750 [==============================] - 122s 32ms/step - loss: 0.5918 - mean_absolute_error: 0.5918 - val_loss: 0.5933 - val_mean_absolute_error: 0.5933

Epoch 00021: val_loss did not improve from 0.58732
Epoch 22/25
3750/3750 [==============================] - 120s 32ms/step - loss: 0.5918 - mean_absolute_error: 0.5918 - val_loss: 0.5916 - val_mean_absolute_error: 0.5916

Epoch 00022: val_loss did not improve from 0.58732
Epoch 23/25
3750/3750 [==============================] - 121s 32ms/step - loss: 0.5918 - mean_absolute_error: 0.5918 - val_loss: 0.5907 - val_mean_absolute_error: 0.5907

Epoch 00023: val_loss did not improve from 0.58732
Epoch 24/25
3750/3750 [==============================] - 122s 33ms/step - loss: 0.5919 - mean_absolute_error: 0.5919 - val_loss: 0.5910 - val_mean_absolute_error: 0.5910

Epoch 00024: val_loss did not improve from 0.58732
Epoch 25/25
3750/3750 [==============================] - 120s 32ms/step - loss: 0.5921 - mean_absolute_error: 0.5921 - val_loss: 0.5910 - val_mean_absolute_error: 0.5910

Epoch 00025: val_loss did not improve from 0.58732

In [85]:
X.shape[0]*0.8/64

3750.0

In [ ]:
X_test = pd.read_csv(TEST_DATA_PATH, index_col='id')
X_test[cat_cnames] = ordinal_encode.transform(X_test[cat_cnames])
X_test.drop(dropped_cols, axis=1, inplace=True)

In [40]:
X_test

        cat0  cat1  cat2  cat3  ...    cont10    cont11    cont12    cont13
id                              ...
0        1.0   1.0   1.0   2.0  ...  0.244476  0.087914  0.301831  0.845702
5        0.0   1.0   0.0   2.0  ...  0.549568  0.905097  0.850684  0.693940
15       1.0   0.0   0.0   0.0  ...  0.491667  0.384315  0.376689  0.508099
16       1.0   1.0   0.0   2.0  ...  0.988340  0.411828  0.393585  0.461372
17       1.0   1.0   0.0   2.0  ...  0.648932  0.385935  0.370401  0.900412
...      ...   ...   ...   ...  ...       ...       ...       ...       ...
499987   1.0   0.0   0.0   2.0  ...  0.877273  0.532410  0.605397  0.884581
499990   1.0   0.0   0.0   2.0  ...  0.202295  0.416875  0.406205  0.758665
499991   0.0   1.0   1.0   2.0  ...  0.390524  0.334026  0.378987  0.839416
499994   0.0   0.0   0.0   2.0  ...  0.894193  0.794102  0.844279  0.890473
499995   0.0   0.0   0.0   2.0  ...  0.694336  0.745698  0.568525  0.783568

[200000 rows x 24 columns]

In [ ]:
# predictions 
predictions = model.predict(X_test)

In [ ]:
def output_submission(prediction, file_name):
    """creating a kaggle submission file

    Args:
        prediction (array): an array of predictions of the test dataset
        file_name (string): a string for the name without the extension
    """
    my_submission = pd.DataFrame({'target': predictions[:,0]},
                                 index=X_test.index)
    #my_submission.set_index('id')
    file_path = os.path.join(OUTPUT_PATH,file_name)
    my_submission.to_csv(f'{file_path}.csv')
    print(f'A submission file has been made at {file_path}')

In [ ]:
output_submission(predictions, "DL_submission2")